<div class="dropdown ml-3 btn-group">
    <a href="#" class="first" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="~/media/top-chat-image.png" class="">
    </a>
    <ul class="dropdown-menu">
        <li>Private message are not implemented yet</li>
    </ul>
</div>

