<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    @if (ViewBag.Title != null)
    {
    <title>@ViewBag.Title - Vyvojari.sk</title>}
    else
    {
    <title>Vyvojari.sk - Portál pre vývojárov</title>}

    <link id="favicon" href="~/favicon.ico" rel="shortcut icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="~/">
                    <img alt="Brand" src="~/media/logo-80h.png" style="height: 50px; margin-top:-15px;">
                </a>
            </div>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="#" class="navbar-link">@User.Identity.Name</a>
                    <button asp-controller="Account" asp-action="LogOff" class="btn btn-link navbar-btn navbar-link">Log off</button>
                }
            </form>
        </div>
    </nav>
    <div>
        @RenderBody()

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </div>
</body>
</html>
