<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link id="favicon" href="~/favicon.ico" rel="shortcut icon">
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
