@inject Microsoft.Extensions.Options.IOptions<DevPortal.Web.AppCode.Config.ReCaptcha> recaptchaOptions
<script src="https://www.google.com/recaptcha/api.js"></script>

<div class="g-recaptcha" data-sitekey="@(recaptchaOptions.Value.SiteKey)"></div>

