<aside class="mb-5">
    <h3 class="main-head">Diskusia<small>, posledné príspevky</small></h3>
    <div class="form-cont-out mb">
        @foreach (var forumPost in DevPortal.Web.Data.SampleData.Instance.ForumPosts.Take(10))
        {

            <div class="btm-bord-content">
                <a avatar-for-user="@forumPost.UserName" class="avatar avatar-small pull-left" />
                <div class="form-cont-inn">
                    <p class="mb-1">@forumPost.Title</p>
                    <p class="gray-text font-s14 light-text mb-0"><time for="@forumPost.Created" /> od <span class="blue-text">@forumPost.UserName</span></p>
                </div>
            </div>
        }
        <a asp-controller="Forum" class="blue-text font-s14">Viac »</a>
    </div>
</aside>