@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h1>
    Správa vášho učtu
</h1>

<h2 class="main-head">Zmena nastavení</h2>

<div class="row">
    <div class="col-md-3">
        @await Html.PartialAsync("_ManageNav")
    </div>
    <div class="col-md-9">
        @RenderBody()
    </div>
</div>


@section Scripts {
    @RenderSection("Scripts", required: false)
}

