@using DevPortal.Web.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<nav class="nav nav-pills flex-column">
    <a asp-action="Index" class="nav-item nav-link @ManageNavPages.IndexNavClass(ViewContext)">
        Profil
    </a>
    <a asp-action="ChangePassword" class="nav-item nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)">
        Heslo
    </a>
    @if (hasExternalLogins)
    {
        <a asp-action="ExternalLogins" class="nav-item nav-link  @ManageNavPages.ExternalLoginsNavClass(ViewContext)">
            Externé loginy
        </a>
    }
    <a asp-action="TwoFactorAuthentication" class="nav-item nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">Dvoj-faktorová autenetifikácia</a>
</nav>

