@section top{
    <div class="jumbotron-forum shadow">
        <div class="container">
            <div class="pull-left">
                <h1>Diskusné Fórum</h1>
                <p>Miesto pre vaše otázky, návrhy a postrehy.</p>

            </div>

            <div class="pull-right">
                <img src="~/media/forum-icon.png" class="jumbotron-icon" />
            </div>
        </div>
    </div>
}