@using DevPortal.QueryStack.Model
@model DevPortal.Web.Models.ForumViewModels.IndexPageViewModel

@{
    ViewBag.Title = "Diskusné fórum";
}

<div class="row">
    <div class="col-lg-9">
        <h1 class="main-head">
            Diskusné Fórum

            <a asp-action="@nameof(ForumController.Create)" class="btn btn-warning pull-right">Pridať otázku</a>
        </h1>
        <section>
            @Html.Partial("_ForumThreadsList.cshtml", Model.Threads)

            <pagination asp-for="@Model" />

        </section>
    </div>

    <div class="col-md-3">
        <aside>
            <h3 class="main-head">Kategórie</h3>
            <vc:most-used-tags entity-type="@typeof(ForumThread)" />
        </aside>
    </div>

</div>

