<div class="container">
    <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" aria-label="What's your programming question? Be specific'">
    </div>

    <textarea class="form-control">

    </textarea>

    <div class="form-group">
        <label>Tags</label>
        <input type="text" class="form-control" aria-label="...">
    </div>
    
</div>