@{
    ViewBag.Title = "Diskusné fórum";
}
@section top{
    <div class="jumbotron-forum shadow">
        <div class="container">
            <div class="pull-left">
                <h1>Diskusné Fórum</h1>
                <p>Miesto pre vaše otázky, návrhy a postrehy.</p>
             
            </div>

            <div class="pull-right">
                <img src="~/media/forum-icon.png" class="jumbotron-icon" />
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-md-8">
        <form asp-action="@nameof(ForumController.NewPost)" asp-controller="ForumController" method="post">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Nový príspevok
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label>Názov</label>
                        <input type="text" class="form-control" aria-label="What's your programming question? Be specific'">
                    </div>
                    <div class="form-group">
                        @await Component.InvokeAsync(typeof(EditorViewComponent))
                    </div>

                    <div class="form-group">
                        <label for="tags">Tagy</label>
                        @await Component.InvokeAsync(typeof(TagsSelectorViewComponent))
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-success">Odoslať</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <section>
                    <h2>Najpoužívanejšie tagy</h2>
                    @foreach (var tag in DevPortal.Web.Data.SampleData.Tags)
                    {
                        <div><a class="label label-default lg">@tag</a></div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>

