@{
    ViewData["Title"] = "Potvrdenie emailu";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Váš email bol uspešne potvrdený. Možete sa <a asp-controller="Account" asp-action="Login">prihlásiť</a>.
    </p>
</div>
