<aside class="mb-5">
    <h3 class="main-head">Blogy <small>a články</small></h3>
    <div class="form-cont-out">
        @foreach (var blogPost in DevPortal.Web.Data.SampleData.Instance.BlogPosts.Take(10))
        {

            <div class="btm-bord-content">
                <a avatar-for-user="@blogPost.UserName" class="avatar avatar-small pull-left" />
                <div class="form-cont-inn">
                    <p class="mb-1">@blogPost.Title</p>
                    <p class="gray-text font-s14 light-text mb-0"><time for="@blogPost.Created" /> od <span class="blue-text">@blogPost.UserName</span></p>
                </div>
            </div>
        }
        <a asp-controller="Blog" class="blue-text font-s14">Viac »</a>
    </div>
</aside>