@model DevPortal.QueryStack.Model.NewsItem

<p class="gray-text font-s14 mb-0">
    @if (Model.IsPublished)
    {
        <text><b>@Model.CreatedBy</b>, <time for="Model.Published" />
        @if (Model.LastModified > Model.Published)
        {
            <i>(edited by @Model.LastModifiedBy, <time for="@Model.LastModified" />)</i>
        }
        </text>
    }
    else
    {
        <text><b>@Model.CreatedBy</b> <span class="badge badge-warning">Unpublished</span></text>
    }
</p>