.truncate-h {
    height: 6em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.avatar {
    position: relative;
    height: 96px;
    width: 96px;
    background: orange;
    display: inline-block;
}

    .avatar > * {
        height: 96px;
        width: 96px;
        line-height: 96px;
        position: absolute;
        color: white;
        text-align: center;
        vertical-align: middle;
        font-size: 48px;
    }

    .avatar.rounded-circle > * {
        border-radius: 50%;
    }

.avatar-medium {
    height: 64px;
    width: 64px;
}

    .avatar-medium > * {
        height: 64px;
        width: 64px;
        line-height: 64px;
        font-size: 32px;
    }

.avatar-small {
    height: 48px;
    width: 48px;
}

    .avatar-small > * {
        height: 48px;
        width: 48px;
        line-height: 48px;
        font-size: 28px;
    }

.avatar-xsmall {
    height: 42px;
    width: 42px;
}

    .avatar-xsmall > * {
        height: 42px;
        width: 42px;
        line-height: 40px;
        font-size: 24px;
    }

.cover {
    background-size: cover;
}

.rounder-circle > .cover {
    border-radius: 50%
}

.shadow {
    box-shadow: 0 0 20px silver;
}

.main-head > a.btn {
    text-transform: none;
    position: relative;
    top: -10px;
}


@media (min-width: 992px) {
    .col-md-border:not(:last-child) {
        border-right: 1px solid #d7d7d7;
    }

    .col-md-border + .col-md-border {
        border-left: 1px solid #d7d7d7;
        margin-left: -1px;
    }
}



.bootstrap-tagsinput {
    border-radius: 0px;
    border: 1px solid #cdcdcd;
    font-weight: 300;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    cursor: text;
}

    .bootstrap-tagsinput.focus {
        border-color: #80bdff;
    }

    .bootstrap-tagsinput input {
        border: none;
        box-shadow: none;
        outline: none;
        background-color: transparent;
        padding: 0 6px;
        margin: 0;
        width: auto;
        max-width: inherit;
    }
