body {
    /*background: #e9e9e9 url('http://linkedin.com/scds/common/u/images/themes/katy/textures/texture_grain_200x200_v2.png');*/
    
    background: url(../media/background.jpg) repeat 50% 0;
    background-color: #E0E0E0;
}

.shadow{
    box-shadow: 0px 0px 20px silver;
}

.panel{
    box-shadow: 0px 0px 20px silver;
}


.navbar{
    box-shadow: 0px 0px 20px silver;
}



@media (min-width: 992px) {
    .col-md-border:not(:last-child) {
        border-right: 1px solid #d7d7d7;
    }

    .col-md-border + .col-md-border {
        border-left: 1px solid #d7d7d7;
        margin-left: -1px;
    }
}

.m-t {
    margin-top: 20px;
}

.m-b {
    margin-bottom: 20px;
}

.m-b-sm {
    margin-bottom: 5px;
}

.p-l-0 {
    padding-left: 0;
}

.media-object-small {
    max-height: 64px;
}

.badge-notify {
    background: red;
    position: absolute;
    top: 0px;
    zoom: 0.8;
}

.bootstrap-tagsinput{
    display:block;
}

.md-editor{
    border-radius: 5px;
}
.md-editor > .md-header{
    border-radius: 5px 5px 0 0;
}
.md-editor > textarea{
     background: inherit;
     border-radius: 0 0 5px 5px;
     border-bottom: none;
     border-top-style: solid;
}

