@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginFormViewModel
@inject SignInManager<ApplicationUser> SignInManager
@{
    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
}

<div class="panel panel-default">
    <div class="panel-body">
        <h4>Log in using</h4>
        <div class="row">
            <div class="col-md-6 col-md-border">
                <div class="form-group">
                    <input class="form-control" placeholder="Username" />
                </div>
                <div>
                    <input class="form-control" placeholder="Password" type="password" />
                </div>
            </div>
            <div class="col-md-6 col-md-border">
                <form asp-controller="Account" asp-action="ExternalLogin" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="btn btn-primary" name="provider"
                                        value="@provider.AuthenticationScheme"
                                        title="Log in using your @provider.DisplayName account">
                                    @provider.AuthenticationScheme
                                </button>
                            }
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>