<div class="dropdown" >
    <a class="position-rel  ml-3" data-toggle="dropdown" href="#" aria-expanded="false">
        <img src="~/media/remind-icon.png" class="">
        <span class="remainter-bubble">5</span>
    </a>
    <ul class="dropdown-menu">
        <li><a>@@<strong>Liero</strong> mentioned you in comment</a></li>
        <li><a>View All</a></li>
    </ul>
</div>