<li>
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-bell text-danger"></span>
        <span class="badge badge-notify">1</span>
    </a>
    <ul class="dropdown-menu media-list">
        <li><a>@@<strong>Liero</strong> mentioned you in comment</a></li>
        <li><a>View All</a></li>
    </ul>
</li>
